html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

.panel-primary>.panel-heading {
	background-image: none !important;
	background-lepeat: none;
	background-color: #101010 !important;
	border-color: #101010 !important;
}

.btn-primary {
	background-image: none;
	background-color: #004b7d;
	border-color: #245580;
}

.login-width {
	width: 300px !important;
}

.invalidPassword {
	background-color: #dca7a7;
}