<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>MTS Web Client- Abwicklung</title>

<link th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen" />
<link th:href="@{/css/bootstrap-theme.css}" rel="stylesheet"
	media="screen" />
<link th:href="@{/css/webclient.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap-select.css}" rel="stylesheet" />

<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/bootstrap-select.js}"></script>
<script th:src="@{/js/bootstrap-treeview.js}"></script>
<script th:src="@{/js/webclient.js}"></script>

<style type="text/css">
body {
	padding-top: 127px;
}
</style>

</head>
<body>
	<!-- {!begin layout} -->
	<div th:include="layout :: header"></div>
	<!-- {!end layout} -->

	<div class="wrapper" id="wrapper">

		<!-- {!begin navigation} -->
		<div
			th:include="feature/nomination/nommenu :: navigation('empty', 'monitor')"
			id="navigation" class="navigation"></div>
		<!-- {!end navigation} -->

		<div id="content" class="content">
		</div>
		<!-- /div-->
	</div>
</body>
</html>