<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>MTS Web Client- Rollenkonfiguration</title>

<link th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen" />
<link th:href="@{/css/bootstrap-theme.css}" rel="stylesheet"
	media="screen" />
<link th:href="@{/css/webclient.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap-switch.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap-select.css}" rel="stylesheet" />
<link th:href="@{/css/jquery.treegrid.css}" rel="stylesheet" />

<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/bootstrap-switch.js}"></script>
<script th:src="@{/js/webclient.js}"></script>
<script th:src="@{/js/bootstrap-select.js}"></script>
<script th:src="@{/js/jquery.treegrid.js}"></script>
<script th:src="@{/js/jquery.treegrid.bootstrap3.js}"></script>

<script type="text/javascript" th:inline="text">
	/*<![CDATA[*/
	$(document).ready(
			function() {
				$("[name='role-state-switch']").bootstrapSwitch()
						.on(
								'switchChange.bootstrapSwitch',
								function(event, state) {
									var collectionIndex = event.target.id
											.split("-");
									$("#hiddenSwitch-" + collectionIndex[1])
											.val(state);
									$("#rolesSave").removeClass("disabled");
								});

				$('.form-control').change(function() {
					$("#rolesSave").removeClass("disabled");
				});

				$("#rolesSave").click(function() {
					$("#rolesForm").submit();
				});

				$('.a_delete').click(
						function(event) {
							var collectionIndex = $(event.target).parent()
									.attr('id').split("-");

							var row = $(event.target).parent().parent()
									.parent();

							$("#hiddenDelete-" + collectionIndex[1]).val(true);
							$("#rolesSave").removeClass("disabled");

							row.hide();
						});
			});
	/*]]>*/
</script>

<style type="text/css">
body {
	padding-top: 127px;
}
</style>

</head>
<body>
	<!-- {!begin layout} -->
	<div th:include="layout :: header"></div>
	<!-- {!end layout} -->

	<div class="wrapper" id="wrapper">
		<!-- div class="row" -->

		<!-- {!begin navigation} -->
		<div
			th:include="feature/administration/adminmenu :: navigation('role', 'user')"
			id="navigation" class="navigation"></div>
		<!-- {!end navigation} -->

		<div id="content" class="content">
			<nav class="navbar navbar-default navbar-top sub-nav">
				<div class="container-fluid">
					<div class="navbar-header">
						<div class="navbar-brand navbar-text-submenu">
							<span th:text="#{roleTitle}"></span>
						</div>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-right">
							<button type="button" class="btn btn-ws btn-default navbar-btn disabled"
								id="rolesSave">
								<span th:text="#{rolesActionSave}"></span>
							</button>
							<a class="glyph-link" href="/admin/userrole"> <span
								class="glyphicon glyphicon-refresh"></span>
							</a>
						</ul>
					</div>
				</div>
			</nav>
			<div class="container-fluid">

				<form id="rolesForm" role="form" th:action="@{/admin/userrole/save}"
					method="post" th:object="${roleConfig}">

					<div th:if="${#fields.hasErrors('*')}"
						class="alert alert-danger alert-dismissible fade in" role="alert">
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times; </span>
						</button>
						<strong> <span th:text="#{rolesTableErrorMessage}"></span>
						</strong>
					</div>

					<table class="table table-hover table-striped table-condensed"
						id="roleTable">
						<thead>
							<tr>
								<th><span th:text="#{rolesTableName}"></span></th>
								<th><span th:text="#{rolesTableFeature}"></span></th>
								<th><span th:text="#{rolesTableDescription}"></span></th>
								<th><span th:text="#{rolesTableStatus}"></span></th>
								<th><span th:text="#{rolesTableActions}"></span></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="item, stat : *{roles}">
								<td><input th:id="${'name-'+stat.index}" type="text"
									readonly="true" class="form-control" placeholder="Name"
									th:field="*{roles[__${stat.index}__].name}"
									th:errorclass="field-tip" /> <span class="tip-content"
									th:errors="*{roles[__${stat.index}__].name}"></span></td>
								<td><input th:id="${'feature'+stat.index}" readonly="true"
									type="text" class="form-control" placeholder="Feature"
									th:field="*{roles[__${stat.index}__].feature.name}" /></td>
								<td><input th:id="${'description-'+stat.index}"
									readonly="true" type="text" class="form-control"
									placeholder="Beschreibung"
									th:value="#{*{'accessrole.' + roles[__${stat.index}__].feature.name + '_' +roles[__${stat.index}__].name}}" />
								</td>
								<td><input th:id="${'switch-'+stat.index}" type="checkbox"
									name="role-state-switch" data-size="mini"
									th:checked="*{roles[__${stat.index}__].enabled}"
									data-on-color="success" data-off-color="warning"></input> <input
									type="hidden" th:id="${'hiddenSwitch-'+stat.index}"
									th:field="*{roles[__${stat.index}__].enabled}" /></td>
								<td><a class="a_delete" th:id="${'a_delete-'+stat.index}"
									href="#" th:title="#{rolesActionDelete}"> <span
										class="glyphicon glyphicon-remove"> </span>
								</a> <input type="hidden" th:id="${'hiddenRid-'+stat.index}"
									th:field="*{roles[__${stat.index}__].id}" /> <input
									type="hidden" th:id="${'hiddenDelete-'+stat.index}"
									th:field="*{roles[__${stat.index}__].delete}" /> <input
									type="hidden" th:id="${'feature-id-'+stat.index}"
									th:field="*{roles[__${stat.index}__].feature.id}"
									th:value="${roleConfig.roles[__${stat.index}__].feature.id}" />
									<input type="hidden" th:id="${'feature-enabled-'+stat.index}"
									th:field="*{roles[__${stat.index}__].feature.enabled}"
									th:value="${roleConfig.roles[__${stat.index}__].feature.enabled}" />
									<input type="hidden"
									th:id="${'feature-deactivatable-'+stat.index}"
									th:field="*{roles[__${stat.index}__].feature.deactivatable}"
									th:value="${roleConfig.roles[__${stat.index}__].feature.deactivatable}" />
								</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</div>
</body>
</html>